/* -----------------------------------
GENERAL
----------------------------------- */
:root {
  --accent: #ed254e;
  --light-accent: #ed4d6e;
  --primary: #f7f4f8;
  --white: #ffffff;
  --light-grey: #eee;
  --mid-grey: #e2e2e2;
  --primary-dark: #343a40;
}

body {
  background: var(--light-grey) !important;
  color: var(--primary-dark);
  font-family: "Source sans pro", sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

a {
  color: var(--accent);
}

a:hover, a:active, a:focus {
  color: var(--accent);
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  text-align: center;
}

/* -----------------------------------
Custom rules
----------------------------------- */

.text-white {
  color: var(--white) !important;
}

.text-dark {
  color: var(--dark) !important;
}

.text-accent {
  color: var(--accent) !important;
}

.text-light-accent {
  color: var(--light-accent) !important;
}

.bg-accent {
  background-color: var(--accent) !important;
  color: var(--white);
}

.bg-accent-hover:hover {
  background-color: var(--accent) !important;
  color: var(--white);
}

.bg-accent-focus:focus {
  background-color: var(--accent) !important;
  color: var(--white);
}

.bg-accent-deepfocus:focus-within {
  background-color: var(--accent) !important;
  color: var(--white);
}

.bg-light-accent {
  background-color: var(--light-accent) !important;
  color: var(--white);
}

.bg-light-accent-hover:hover {
  background-color: var(--light-accent) !important;
  color: var(--white) !important;
}

.bg-light-accent-focus:focus {
  background-color: var(--light-accent) !important;
  color: var(--white);
}

.bg-light-accent-deepfocus:focus-within {
  background-color: var(--light-accent) !important;
  color: var(--white);
}

.bg-mid-grey {
  background-color: var(--mid-grey) !important;
  color: var(--dark);
}

.bg-mid-grey-hover:hover {
  background-color: var(--mid-grey) !important;
  color: var(--dark);
}

.bg-mid-grey-focus:focus {
  background-color: var(--mid-grey) !important;
  color: var(--dark);
}

.bg-mid-grey-deepfocus:focus-within {
  background-color: var(--mid-grey) !important;
  color: var(--dark);
}

.text-loading {
  color: var(--accent);
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

.text-error {
  text-align: center;
  margin-bottom: 25px;
  color: var(--accent);
}

.text-success {
  color: green;
  font-weight: bold;
  text-align: center;
  margin-bottom: 25px;
}

/* -----------------------------------
Table classes
Don't remove nor move
----------------------------------- */

.table {
  table-layout:fixed;
}

table.b-table[aria-busy=false], table.b-table[aria-busy=true] {
  opacity: 1;
}

.list-thead {
  /* background-color: rgba(52, 52, 50, 0.9); */
  background-color: var(--primary-dark);
  color: var(--white) !important;
}

.list-table-cell {
  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px;
  color: var(--white);
}

.metadata-table-cell {
  padding: 10px;
  text-align: left !important;
}

.table-row, .table-row-nohover {
  border-bottom: 1px solid var(--accent) !important;
}

.table-row:hover {
  background-color: rgba(237, 37, 78, 0.25) !important;
}

.td-date {
  width: 27%;
}

.td-state {
  width: 19%;
}

/* -----------------------------------
Inputs
----------------------------------- */
.custom-input-group {
  margin-bottom: 20px;
}

.custom-input {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 8px 28px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: var(--primary-dark) !important;
  color: var(--primary-dark);
  background: var(--white);
  border-radius: 0px 5px 5px 0px;
  height: 40px !important;
}

.custom-input-group-prepend {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 8px 28px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--primary-dark);
  color: var(--white);
  border-radius: 5px 0px 0px 5px;
  height: 40px;
  background: var(--accent);
  width: 150px;
  vertical-align: middle !important;
}

.custom-input-group-append {
  font-weight: 500;
  font-size: 16px;
  display: inline-block;
  padding: 8px 28px;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: var(--primary-dark);
  color: var(--white);
  border-radius: 0px 5px 5px 0px;
  height: 40px;
  background: var(--accent);
  width: 150px;
  vertical-align: middle !important;
}

.form-control:focus {
  border-color: var(--accent) !important;
  box-shadow: none !important;
  outline: -webkit-focus-ring-color auto 0px;
}

.custom-button {
  font-size: 16px;
  padding: 8px 18px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--primary-dark);
  color: var(--white);
  border-radius: 5px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--accent);
  width: 150px;
  display: block;
  margin: 0 auto;
}

.custom-checkbox {
  margin-left: 15px;
  height: 40px;
}

.custom-control-label:before {
  background-color: white;
}

.custom-checkbox .custom-control-input ~ .custom-control-label::after {
  cursor: pointer;
}

.custom-checkbox .custom-control-input:disabled ~ .custom-control-label::after {
  cursor: not-allowed;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--accent);
  border: 1px solid var(--accent);
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='white' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: none;
}

.custom-checkbox .custom-control-input:disabled ~ .custom-control-label::before {
  background-color: #BFBFBF;
}

/* -----------------------------------
Search zones
----------------------------------- */
.custom-accent-select {
  font-size: 16px;
  display: inline-block;
  padding-left: 10px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: var(--primary-dark);
  color: var(--white);
  border-radius: 5px 0px 0px 5px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--accent)
    url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png")
    no-repeat;
  background-size: 20px;
  background-position: right 10px center;
  width: 175px;
}

.custom-light-accent-select {
  font-size: 16px;
  display: inline-block;
  padding-left: 10px;
  border: 1px solid var(--accent);
  color: var(--white) !important;
  border-radius: 5px;
  height: 40px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url("https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_down_48px-128.png");
  background-size: 20px;
  background-color: var(--light-accent) !important;
  background-position: right 10px center;
  box-shadow: none;
}

/* -----------------------------------
Pagination
----------------------------------- */

.pagination  {
  margin-top: 1em;
  font-size: 1.2em;
}

.pagination a {
  padding: 1em;
  color: var(--accent) !important;
}

.current-page {
  font-weight: bold;
}

.pagination-item {
}
